@tailwind base;

@font-face {
  font-family: "NotoSansJp";
  font-style: "normal";
  font-weight: 400;
  src: url("../fonts/Noto Sans JP regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "NotoSansJp";
  font-style: "normal";
  font-weight: 700;
  src: url("../fonts/Noto Sans JP 700.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "NotoSerifJp";
  font-style: "normal";
  font-weight: 400;
  src: url("../fonts/Noto Serif JP regular.otf") format("opentype");
  font-display: swap;
}

@tailwind components;
@tailwind utilities;