@import "tailwindcss/base";
@import "github-markdown-css/github-markdown";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* noto-sans-jp-regular - japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
       url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-regular.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-700 - japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'),
       url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp/noto-sans-jp-v24-japanese_latin-700.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}

/* noto-serif-jp-regular - japanese */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-serif-jp/noto-serif-jp-v7-japanese_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif JP'), local('NotoSerifJP-Regular'),
       url('../fonts/noto-serif-jp/noto-serif-jp-v7-japanese_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-jp/noto-serif-jp-v7-japanese_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-serif-jp/noto-serif-jp-v7-japanese_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-serif-jp/noto-serif-jp-v7-japanese_latin-regular.svg#NotoSerifJP') format('svg'); /* Legacy iOS */
}
